sudo: required

language: python

python:
  - "3.8"

# command to install dependencies
install:
  - pip install -U pip
  - pip install -U setuptools wheel
  - pip install html5lib
  - pip install cwltool
  - pip install cwlref-runner

services:
  - docker

script:
  - ./test.sh

notifications:
  email: false
